<html>

<head>
</head>

<body>

    <div id="app">
        {{ message }}
    </div>

    <hr>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds 
            to see my dinamically bound title!
        </span>
    </div>

    <hr>

    <div id="app-3">
        <p v-if="seen">Now you see me</p>
    </div>

    <hr>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <hr>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse message</button>
    </div>

    <hr>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <hr>

    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>

    <hr>

    <div id="example">
        <p>Original message: "{{ message }}""</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>

    <hr>

    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

</body>

<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

<script src="./app.js"></script>

</html>